<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Stats</title>
    <link href="/styles/index.css" rel="stylesheet"/>
</head>
<body>
    <h1>Test whether it works or not</h1>
    <%=totalSolved%>
    <%=easySolved%>
    <%=mediumSolved%>
    <%=hardSolved%>
    <%=ranking%>
    <%=badges%>
    <%if(locals.contestAttend){%>
    <%=contestAttend%>
    <%=contestRating%>
    <%=contestGlobalRanking%>
    <%=totalParticipants%>
    <%=contestTopPercentage%>
    <%}else{%>
        <h2>No contests attended</h2>
    <%}%>
    <script src="/scripts/index.js" charset="UTF-8"></script>
</body>
</html>